In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import nltk
import seaborn as sns
df = pd.read_csv('trainData.csv')
df2 = pd.read_csv('testData.csv')
df.head()

,Id,company,education,experience,jobdescription,jobid,joblocation_address,jobtitle,numberofpositions,payrate,postdate,skills,industry
0,1,MM Media Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,0 - 1 yrs,Job Description Send me Jobs like this Quali...,2.110000e+11,Chennai,Walkin Data Entry Operator (night Shift),0,"1,50,000 - 2,25,000 P.A",2016-05-21 19:30:00 +0000,ITES,Media / Entertainment / Internet
1,2,find live infotech,UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...,0 - 0 yrs,Job Description Send me Jobs like this Quali...,2.110000e+11,Chennai,Work Based Onhome Based Part Time.,60,"1,50,000 - 2,50,000 P.A. 20000",2016-05-21 19:30:00 +0000,Marketing,Advertising / PR / MR / Event Management
2,3,Softtech Career Infosystem Pvt. Ltd,UG: Any Graduate - Any Specialization PG:Any P...,4 - 8 yrs,Job Description Send me Jobs like this - as ...,1.010000e+11,Bengaluru,Pl/sql Developer - SQL,0,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,IT Software - Application Programming,IT-Software / Software Services
3,4,Onboard HRServices LLP,UG: Any Graduate - Any Specialization PG:CA Do...,11 - 15 yrs,Job Description Send me Jobs like this - Inv...,8.101690e+10,"Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...",Manager/ad/partner - Indirect Tax - CA,0,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,Accounts,Banking / Financial Services / Broking
4,5,Spire Technologies and Solutions Pvt. Ltd.,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,6 - 8 yrs,Job Description Send me Jobs like this Pleas...,1.210000e+11,Bengaluru,JAVA Technical Lead (6-8 yrs) -,4,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,IT Software - Application Programming,IT-Software / Software Services

In [2]:
df.isnull().sum()

Id                       0
company                  3
education                0
experience               0
jobdescription           0
jobid                    0
joblocation_address      0
jobtitle                 0
numberofpositions        0
payrate                 52
postdate                19
skills                 467
industry                 4
dtype: int64

Train Data Preprocessing

In [3]:
df= df.drop(['Id','jobid','postdate','numberofpositions','payrate'],axis =1)
df['company'].fillna(df['company'].mode()[0],inplace = True)
df['industry'].fillna(df['industry'].mode()[0],inplace = True)
df['skills'] = np.where(df['skills'] == 0.0,np.nan,df['skills'])
df['skills'] = df.groupby('industry')['skills'].transform(lambda x:x.fillna(x.mode()[0]))

df['experience'] = df['experience'].str.split(" ", n = 1,expand = True)
df['experience'] = df['experience'].replace({'Missing':0,'Not':0})

df['jobdescription'] = df['jobdescription'].str.split(" ", n = 8,expand = True)[8]
df= pd.get_dummies(df,drop_first=True)

Test Data Preprocessing

In [4]:
df2= df2.drop(['Id','jobid','postdate','numberofpositions','payrate'],axis =1)
df2['company'].fillna(df2['company'].mode()[0],inplace = True)
#df2['industry'].fillna(df2['industry'].mode()[0],inplace = True)
df2['skills'] = np.where(df2['skills'] == 0.0,np.nan,df2['skills'])
df2['skills'] = df2['skills'].transform(lambda x:x.fillna(x.mode()[0]))

df2['experience'] = df2['experience'].str.split(" ", n = 1,expand = True)
df2['experience'] = df2['experience'].replace({'Missing':0,'Not':0})

df2['jobdescription'] = df2['jobdescription'].str.split(" ", n = 8,expand = True)[8]
df2= pd.get_dummies(df2, columns=["skills" ], prefix=["skills"],drop_first=True)
df2.isnull().sum()

company                                             0
education                                         771
experience                                          0
jobdescription                                      0
joblocation_address                                 0
jobtitle                                            0
skills_Analytics & Business Intelligence            0
skills_Architecture                                 0
skills_Design                                       0
skills_Engineering Design                           0
skills_Executive Assistant                          0
skills_Export                                       0
skills_Fashion Designing                            0
skills_Financial Services                           0
skills_HR                                           0
skills_Hotels                                       0
skills_IT Hardware                                  0
skills_IT Software - Application Programming        0
skills_IT Software - Client/Server Programming      0
skills_IT Software - DBA                            0
skills_IT Software - ERP                            0
skills_IT Software - Embedded                       0
skills_IT Software - Mainframe                      0
skills_IT Software - Middleware                     0
skills_IT Software - Mobile                         0
skills_IT Software - Network Administration         0
skills_IT Software - Other                          0
skills_IT Software - QA & Testing                   0
skills_IT Software - System Programming             0
skills_IT Software - Systems                        0
skills_IT Software - Telecom Software               0
skills_IT Software - eCommerce                      0
skills_ITES                                         0
skills_Journalism                                   0
skills_Legal                                        0
skills_Marketing                                    0
skills_Medical                                      0
skills_Production                                   0
skills_Sales                                        0
skills_Site Engineering                             0
skills_Strategy                                     0
skills_Supply Chain                                 0
skills_Teaching                                     0
skills_Top Management                               0
skills_Travel                                       0
dtype: int64

In [5]:
df.head()

,company_18th Technology,company_1Lotus Marketing Research Services,company_1mg,company_24 Karat cash for gold,company_24 x 7 HR Solutions hiring for No.1 Wind Energy Company,company_24/7 Inc,company_24x7 learning pvt. ltd.,company_2COMS CONSULTING PVT LTD,company_2COMS Consulting Pvt Ltd,company_2COMS Consulting Pvt. Ltd,...,industry_Shipping / Marine,industry_Strategy / Management Consulting Firms,industry_Telecom/ISP,industry_Telecom/ISP /,industry_Textiles / Garments / Accessories,industry_Travel / Hotels / Restaurants / Airlines / Railways,industry_Tyres,industry_Water Treatment / Waste Management,industry_Wellness / Fitness / Sports,industry_Wellness / Fitness / Sports / Beauty
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
x,y =df.drop(['industry'],axis =1),df.industry
x.shape,y.shape

KeyError: 'industry'

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 100)
lr = LinearRegression()
lr.fit(x_train,y_train)
lr_pred = lr.predict(x_test)
from sklearn.metrics import r2_score
r2_score(y_test,lr_pred)

In [ ]:
df.dtypes

In [ ]:
df = df.astype({'experience':int})

In [ ]:
df.experience.unique()